{% extends 'account/login/login.html' %}{% load i18n  static widget_tweaks %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block form_block %}
    <form class="login100-form validate-form flex-sb flex-w" method="post">{% csrf_token %}
        <h3 class="login100-form-title p-b-53">{% trans "Reset password:" %}</h3>
        <span class="m-b-10">
            {% trans 'Enter the email address you registered with to receive the password reset link.' %}
        </span>
        <div class="wrap-input100 validate-input mt-1" data-validate={% trans 'Enter your email address.' %}>
            {{ form.email|add_class:'input100'|append_attr:'placeholder:example@gmail.com' }}
            <span class="focus-input100"></span>
        </div>
        <div class="row captcha-box">
            {{ form.captcha|add_class:'input100' }}
        </div>
        {% if form.errors %}
            <div style="margin: 0 10px">
                <h4 class="alert-heading alert-dismissible fade show">{% trans 'Error!' %}</h4>
                <ul style="margin:0 25px;color: #8b0000">
                    {% if form.captcha.errors %}
                        <li>{{ form.captcha.errors }}</li>
                    {% endif %}
                    {% if form.email.errors %}
                        <li>{{ form.email.errors }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        {% include 'account/submit.html' %}
    </form>
{% endblock %}
