{% load i18n static widget_tweaks %}
<form class="login100-form validate-form" method="post">{% csrf_token %}
    {% block heder-login-form %}
        <span class="login100-form-title p-b-20">{% trans 'Create a new password' %}</span>
        <h5 class=" p-b-20">
            {% trans "Please enter your new password twice to make sure you entered it correctly." %}
        </h5>
    {% endblock %}
    <div class="row">
        <div class="col-md-6">
            <div class="p-b-9">
                <span class="txt1">{% trans 'Password' %}</span>
            </div>
            <div class="wrap-input100">
                {{ form.new_password1|add_class:'input100' }}
                <span class="focus-input100"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" p-b-9">
                <span class="txt1">{% trans 'Password confirm' %}</span>
            </div>
            <div class="wrap-input100 "> {{ form.new_password2|add_class:'input100' }}
                <span class="focus-input100"></span>
            </div>
        </div>
    </div>
    {% if form.errors %}
        <ul class="ul-error">
            <h5 class="info_error">{% trans 'The information entered is invalid.' %}</h5>
            {% for err in form.errors %}
                {% if err ==   'new_password1' %}
                    <li class="err-form-rest-password">{{ form.errors.new_password1 }}</li>
                {% elif err == 'new_password2' %}
                    <li class="err-form-rest-password">{{ form.errors.new_password2 }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% include 'account/submit.html' %}
</form>

