{% extends 'account/login/login.html' %}{% load i18n %}
{% block title %} {% trans "Password reset complete." %}{% endblock %}
{% block form_block %}
    <h1 style="color: #00aced">{% trans 'Password changed :)' %}</h1>
    <p class="m-t-15 password_reset_complete">{% trans 'Your account password changed successfully.' %}
        <span>{% trans 'go to' %}
            <a href="{% url 'Account:login' %}" style="text-decoration: underline; color: #00aced">{% trans 'account.' %}</a>
        </span>
    </p>
{% endblock %}
