{% extends 'account/login/login.html' %}{% load i18n %}
{% block title %}{% trans "Password recovery" %}{% endblock %}
{% block form_block %}
    <h1 style="color: #00aced">{% trans 'Password recovery email sent.' %}</h1>
    <p class="m-t-15 password_reset_complete">
        {% trans 'An email containing a password reset link has been sent to you.Click on the link to be redirected to the password reset page.' %}
        <span>({% trans 'Go to ' %}
            <a href="{% url 'Home:home' %}" style="color: #00aced">{% trans 'home' %}</a>)
        </span>
    </p>
{% endblock %}