{% extends 'account/login/login.html' %}{% load i18n %}{% load static %}{% load widget_tweaks %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block form_block %}
    <form class="login100-form validate-form flex-sb flex-w" action="" method="post">{% csrf_token %}
        {% block heder-login-form %}
            <span class="login100-form-title p-b-20" style="color: #00A4EF">{% trans "Change Password" %}</span>
        {% endblock %}
        <div class="p-t-1 p-b-9">
            <span class="txt1">{% trans 'old password:' %}</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="{% trans 'Enter the old password.' %}">
            {{ form.old_password|add_class:'input100' }}
            <span class="focus-input100"></span>
        </div>
        <div class="p-t-13 p-b-9" style="">
            <span class="txt1">{% trans 'new password:' %}</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="{% trans 'Enter the new password.' %}">
            {{ form.new_password1|add_class:'input100' }}
            <span class="focus-input100"></span>
        </div>
        <div class="p-t-13 p-b-9" style="">
            <span class="txt1">{% trans 'new password confirm:' %}</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="{% trans 'Enter the new password confirmation.' %}">
            {{ form.new_password2|add_class:'input100' }}
            <span class="focus-input100"></span>
        </div>
        {% include 'account/submit.html' %}
    </form>
{% endblock %}