{% extends 'base/base.html' %}{% load i18n home_tag ratings %}
{% block title %}{{ details.title }}{% endblock %}
{% block body %}
    <section class="block-wrapper" dir="rtl">
        <div class="container">
            <div class="row">
                <section class="block-wrapper no-sidebar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="single-post lang_bidi">
                                    <div class="post-title-area">
                                        <a class="post-cat">
                                            {{ details.get_category }}
                                        </a>
                                        <h2 class="post-title">{{ details.title }}</h2>
                                        <div class="post-meta">
                                            <span class="post-author meta-post_">
                                                <a href="{% url 'Employee:writer' details.writer.id %}">
                                                    <i class="fa fa-pencil"></i>
                                                    {{ details.writer }}
                                                </a>
                                            </span>
                                            <span class="post-date meta-post_">
                                                <i class="fa fa-clock-o"></i>
                                                   {% jalali_date details.updated LANGUAGE_CODE %}
                                            </span>
                                            <span class="post-hits meta-post_">
                                                <i class="fa fa-eye"></i>
                                                {{ details.ip_address.count }}
                                            </span>
                                        </div>

                                    </div>
                                    <div class="post-content-area">
                                        <div class="post-media post-featured-image">
                                            <img src="{{ details.image.url }}" class="img-responsive"
                                                 alt="{{ details.title }}">
                                        </div>
                                        <div class="entry-content">
                                            <p style="text-align: justify">{{ details.body |safe }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating">
                                    <h3 class="red_light_title" style="margin:0 0 20px 0">
                                        <span>{% trans 'scoring' %}</span></h3>
                                    <span class="lang_bidi">{% ratings details %}</span>
                                </div>
                                <div class="comment_">
                                    {% include 'comment/commnet.html' %}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <section class="block-wrapper">
                                    <div class="container">
                                        <div class="row">
                                            {% include 'include/sidebar.html' %}
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    {% include 'include/footer.html' %}
{% endblock %}